<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
        <suite name="MainSuite">
    <!--This parameter will be passed to every test in this suite -->
            <parameter name="url" value ="http://127.0.0.1:10080/wordpress/wp-login.php"/>
            <parameter name="userName" value="admin"/>
            <parameter name="password" value="password"/>
            <parameter name="driverName" value="webdriver.opera.driver"/>
            <parameter name="driverLocation" value="src\test\tools\operadriver.exe"/>
            <parameter name="title" value="My first post"/>
            <parameter name="text" value="Here is my first post! Enjoy!"/>
                <test name="logInTest">
                    <classes>
                        <class name= "WordPressTest"/>
                     </classes>
                 </test>
        </suite>
